# Script

footer {
    padding-left:16px;
    padding-right:16px;
}
ion-icon {
    font-size: 130%;
}
.footer-icons {
    display: flex;
    justify-content: center;
}
.footer-icons a {
    padding-left:1%;
    padding-right:1%;

    color:#002342;
}
.footer-icons a.pagingLink:active,
.footer-icons a.pagingLink:link,
.footer-icons a.pagingLink:visited,
.footer-icons a.pagingLink:hover    {
    color:#002342;
}

#~**~#

# Body

<hr width="100%" align="center" color="black" size="1">
<!-- Icons -->
<div class="footer-icons">
    <!-- Mail : LinkedIn : Github (Personal) : Github (School) -->
    <a href="mailto: darshparikh16@gmail.com"              target="_blank"> <ion-icon name="mail"         ></ion-icon> </a>
    <a href="https://www.linkedin.com/in/darshparikh1602/" target="_blank"> <ion-icon name="logo-linkedin"></ion-icon> </a>
    <a href="https://github.com/Darsh-Parikh"              target="_blank"> <ion-icon name="logo-github"  ></ion-icon> </a>
    <a href="https://github.com/Darsh-V-Parikh"            target="_blank"> <ion-icon name="logo-github"  ></ion-icon> </a>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<p style="text-align:center;"> Darsh Parikh </p>

#~**~#