# Script

body {
    margin: 0;
    word-wrap: break-word;
}

.main {
    padding-left: 16px;
    padding-right: 16px;
}
.main a {
    color:#004f94;
}
.main a.pagingLink:active,
.main a.pagingLink:link,
.main a.pagingLink:visited,
.main a.pagingLink:hover    {
    color:#004f94;
}
.item {
    overflow: hidden;
    background-color: rgb(238, 236, 236);
    position:relative;
}
.item_link {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}
.item-text {
    margin-left: 10px;
    margin-right: 8px;
}
.item img {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

#~**~#

# Body

<h1> Title </h1>

<hr width="100%" align="center" color="black" size="1">

Here are some comments about the general content of this page

#~**~#